.main {
    margin-top: 30px;
}

.mainP {
    text-align: center;
    font-style: italic;
    font-size: larger;
    margin-bottom: 34px;
}

.imgDiv {
    width: 80%;
    margin: auto;
}

.imgDiv img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.imgDiv img:hover {
    transform: scale(1.1);
    filter: opacity(0.5);
    transition: 1s ease;
    overflow: hidden;
}

.section12Check {
    display: flex;
    align-items: center;
}

.section12CheckIcon {
    font-size: 40px;
}

.section12heading {
    margin-top: 10px;
}

@media screen and (max-width: 1000px) {
    .main h2 {
        font-size: 19px;
        text-align: center;
        padding: 6px;
    }
    .mainP {
        text-align: center;
        font-style: italic;
        font-size: 16px;
        margin-bottom: 20px;
        padding: 6px;
    }
    .imgDiv {
        width: 90%;
        margin: auto;
    }
    .imgDiv img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }
    .section12 {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}