.overview_main {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    background-position: center;
    background-size: cover;
    /* position: relative; */
}

.overview_heading {
    padding-top: 30px;
    color: #fff;
}

.overview_para {
    padding: 20px 60px 60px 60px;
    font-size: 18px;
    color: #fff;
}