.salesImg {
    width: 250px;
    height: 90px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.footerText {
    margin-top: 150px;
}